<div *ngIf="profile" class="profile">
    <div class="picture mt-5">
        <img [src]="profile.avatar" class="img-thumbnail rounded-circle">
    </div>

    <div class="infomation">
        <b style="font-size: 20px;">{{profile.name}}</b>
        <p style="font-size: 15px;">{{profile.job}}</p>
    </div>

    <div class="background-follow">
        <div class="follow">
            <div class="followers">
                <p class="text-danger">{{profile.followers | formatNumber}}</p>
                <p>Followers</p>
            </div>
            <div class="red-line mt-2"></div>
            <div class="following">
                <p class="text-danger">{{profile.following | formatNumber}}</p>
                <p>Following</p>
            </div>
        </div>
    </div>


    <div class="background-tasks mt-2">
        <button class="create fa-solid fa-plus-minus" (click)="create()"> task </button>

        <div *ngFor="let info of tasks" class="box m-4" (click)="viewTask(info.id)">
            <b>{{ info.name }}</b>
            <p>Date : {{ info.date | date: 'short' }}</p>
            <div class="operation">
                <button class="btn-edit fa-solid fa-pen-to-square" style="background-color: #ffffff; padding: 10px 10px;" (click)="edit()"></button>
                <button class="btn-delete fa-solid fa-trash-can" style="background-color: red; padding: 10px 10px;"></button>
            </div>
        </div>
    </div>

    <div class="background-remain">
        <p>10 Tasks Remain</p>
    </div>

</div>





